

body{
    background-color:#15171a !important;
    margin: 0;
    padding: 0;
}

.blog-container{
    color: white;
    height: 500px;
    margin: 0 auto;
    margin-bottom:30px;
    padding: 30px;
    padding-top: 40px;
    font-size: 20px;
    letter-spacing: 0.05em;
    line-height: 1.6;
    /* text-overflow: ellipsis;  */
     /* white-space: nowrap;  */
    /* background-color: rgba(0, 0, 0, 0.5);  */
}

.parrafo-introduccion{
    font-weight: bold;
}


@media (max-width: 425px) {
    .blog-container{
        /* display: flex; */
        color: white;
        margin: 0 auto;
        margin-top:30px;
        padding: 10px;
        font-size: 17px;
        letter-spacing: 0.05em;
        line-height: 1.6;
    } 
}

@media screen and (min-width: 1440px) {
    .blog-container{
        /* display: flex; */
        color: white;
        height: 500px;
        width: 700px;
        margin: 0 auto;
        margin-top:30px;
        
    }
  }

